@model IEnumerable<Project_Management_System.Models.feedback>

@{
    ViewBag.Title = "showFeedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS Responsive Table Layout</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/css/projectState.css">
</head>
<body class="value1">

    <div class="wrapper">
        <h1 class="column skew-title">
            <span>F</span><span>E</span><span>E</span><span>D</span><span>B</span><span>A</span><span>C</span><span class="last">K</span>
            &nbsp;
           
        </h1>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="js/index.js"></script>
        <div class="table">

            <div class="row value2 blue">
                <div class="cell">
                    Date
                </div>
                <div class="cell">
                    Feedback
                </div>
            </div>
            @foreach (var item in Model)
            {

               
                    <div class="row">

                        <div class="cell" data-title="Username">

                            <dd>
                                @item.date
                            </dd>
                        </div>


                        <div class="cell" data-title="Email">
                            <dd>
                                @item.content
                            </dd>
                            <dd>
                                @item.rate
                            </dd>

                        </div>
                    </div>


                }
            
        </div>

       
        <script>
            (function () {
                $('.skew-title').children('span').hover((function () {
                    var $el, n;
                    $el = $(this);
                    n = $el.index() + 1;
                    $el.addClass('flat');
                    if (n % 2 === 0) {
                        return $el.prev().addClass('flat');
                    } else {
                        if (!$el.hasClass('last')) {
                            return $el.next().addClass('flat');
                        }
                    }
                }), function () {
                    return $('.flat').removeClass('flat');
                });

            }).call(this);
        </script>


    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

</body>
</html>
